<style>
    body {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        line-height: 22px;
        color: #777;
        background-color: #fff;
    }

    .custom-heading {
        position: relative;
        width: 100%;
        display: block;
        padding-top: 12px;
        text-transform: uppercase;
        height: 4rem;
        color: black;
    }

    .fare-chart tr:nth-child(odd) {
        color: #ffffff;
        background-color: #0287bf;
    }

    .fare-chart tr:nth-child(even) {
        color: black;
        background-color: #ffffff;

    }

    .fare-chart tr {
        text-align: center;
    }

    table.fare-chart {
        animation: slide-down 1s forwards;
        max-width: 100%;
        width: 94%;
        height: 20rem;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 6px -4px 11px;
        margin-bottom: 15px;
        font-size: 13px
    }

    .mail-to-btn {
        background: #95c03d;
        color: white;
        padding: 13px 22px;
        font-size: 17px;
        font-weight: 700;
        border-radius: 24px;
        cursor: pointer;
        border: none;
        margin-top: 22px !important;
        display: block;
        width: 125px;
        margin: auto;
    }


</style>
<div class="container">
    <div class="row">
        {% for section in sections %}
        {% for page in pages %}
        {% if page.id == section.page_id %}
        {% if section.text_align == 'right' %}
        <div class="col-md-6">
            <img style="float:left"
                 src="{{media_url}}/{{section.image}}" alt="" height="250px" width="270px"/>
        </div>
        <div class="col-md-6">
            <div class="custom-heading">
                <h3>{{section.title}}</h3>
            </div>
            <p class="body">{{section.description}}</p>
            {% for sub_section in sub_sections %}
            {% if section.id == sub_section.section_id and sub_section.status == "active" %}
            <div class="body">
                <em style="color: #777; font-size: 8px;" class="fa fa-circle"></em> &nbsp; {{sub_section.content}}
            </div>
            <br>
            {% endif %}
            {% endfor %}
        </div>

        {% else %}

        <div class="col-md-6">
            <div class="custom-heading">
                <h3>{{section.title}}</h3>
            </div>
            <p>{{section.description}}</p>
            {% for sub_section in sub_sections %}
            {% if section.id == sub_section.section_id and sub_section.status == "active" %}
            <div class="body">
                <em style="color: #777; font-size: 8px;" class="fa fa-circle"></em> &nbsp;&nbsp; {{sub_section.content}}
            </div>
            <br>

            {% endif %}

            {% endfor %}
        </div>
        <div class="col">
            <img style="float:right" src="{{media_url}}/{{section.image}}" alt="" height="250px" width="250px"/>
        </div>
        <div class="row">
            <a class="mail-to-btn" href="mailto:info@beyondaviation.ca">Mail Us</a>
        </div>

        {% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
<table class="fare-chart">
    <tr>
        <th>YYZ</th>
        <th>Departure</th>
        <th>Cut-off</th>
        <th>YYC</th>
        <th>Arrival</th>
    </tr>
    <tr>
        <td>DAY 4,7</td>
        <td>1015(L)</td>
        <td>0800 (L)</td>
        <td>1230 (L)</td>
        <td>+4 = 15</td>
    </tr>
    <tr>
        <th>YYZ</th>
        <th>Departure</th>
        <th>Cut-off</th>
        <th>YYC</th>
        <th>Arrival</th>
    </tr>
    <tr>
        <td>DAY 4,7</td>
        <td>1015(L)</td>
        <td>0800 (L)</td>
        <td>1230 (L)</td>
        <td>+4 = 15</td>
    </tr>
    <tr>
        <th>YYZ</th>
        <th>Departure</th>
        <th>Cut-off</th>
        <th>YYC</th>
        <th>Arrival</th>
    </tr>
    <tr>
        <td>DAY 4,7</td>
        <td>1015(L)</td>
        <td>0800 (L)</td>
        <td>1230 (L)</td>
        <td>+4 = 15</td>
    </tr>
</table>
