<html lang="en">
<head>
    <title>
        Above & Beyond - Contact Form
    </title>
    <style>
        .text-color-white a{
        color:#FFF !important;
        }
        .style-input{
        padding:10px;
        border:1px solid #ccc;
        text-align:left;
        }
    </style>
</head>
<body>
<div>
    <table width="100%" style="padding:0">
        <tbody>
        <tr>
            <td>
                <table style="margin:0px auto 0px;text-align:center;border-radius:4px;background-color:#fff;padding:30px;width:100%;max-width:800px;border:1px solid #ccc">
                    <tbody>
                    <tr>
                        <td>
                            <div style="padding:15px;margin:0">
                                <table style="border-bottom:1px solid #ccc;margin-bottom:25px;width:100%">
                                    <tbody>
                                    <tr>
                                        <td style="width:100%;display:table">
                                            <div style="text-align:center">
                                                <img src="https://ci6.googleusercontent.com/proxy/b6IjlrVVrlK0_bEFEAsyw6pNoRXDkJ_pkizKbcucPyDcneFky1i9EMoWPbY6ddAv-K_ZHwKcHv15uRzen4_dC-_4qaHFRD0AFVu6=s0-d-e1-ft#https://dev.01s.in/above-and-beyond/assets/Logo/logo.png"
                                                     alt="" width="300px" class="CToWUd" data-bit="iit">
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table style="border-collapse:collapse;width:100%;background-color:#0b3e64;color:#ffffff">
                                    <tbody>
                                    <tr style="text-align:center">
                                        <th colspan="2"
                                            style="padding:15px;font-size:20px;text-transform:uppercase;border:1px solid #ccc;border-bottom:none">
                                            Consultation Form - Above &amp; Beyond
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="style-input">First Name:</td>
                                        <td class="style-input">{{first_name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style-input">Last Name:</td>
                                        <td class="style-input">{{last_name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style-input">Email:</td>
                                        <td class="text-color-white" style="padding:10px;border:1px solid #ccc;text-align:left">
                                            {{email}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style-input">Contact No.:</td>
                                        <td style="padding:10px;border:1px solid #ccc;text-align:left;color:white;">
                                            {{phone}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="style-input">Message:</td>
                                        <td class="style-input">{{message}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
