{% extends "footer.html" %}
{% block content %}
<style>
.dropdown-content {
  display: none;
<!--  position: absolute;-->
  background-color: white;
  min-width: 50px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

<!--.dropdown:hover .dropdown-content {display: block;}-->

.dropdown:hover .dropbtn {background-color: #00008B;}

</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container" style="padding: 5px;">
    <div class="row">
        {% for menu in menus %}
        {% if menu.image %}
        <a href="/"><img style="float:left;" class="col-md-4" src="{{media_url}}/{{menu.image}}" alt=""
                         height="100%" width="50%"></a>
        {% else %}
        {% if menu.name == "Services" %}

            <div class="dropdown">
                <p style="color:black; text-transform: uppercase;">Services &nbsp;&nbsp;&nbsp;</p>
                <div class="dropdown-content">
                    {% for service in services %}
                    <a href="services/{{service.slug}}">{{service.name}}</a>
                    {% endfor %}
                </div>
                </div>

        {% else %}
        <a style="color:black; text-transform: uppercase;" href="{{menu.slug}}">{{menu.name}}</a>&nbsp;&nbsp;&nbsp;
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>


<!-- Services  -->
<section style="padding: 20px;">
    <div class="container">
        <div class="row">
            {% for service in services %}
            {% if service.is_flag is True%}
            <div class="col-md-4">
                <div class="card card-01">
                    <img class="card-img-top" src="{{media_url}}/{{service.image}}" alt="" height="200px" width="300px">
                    <div class="card-body">
                        <h4 class="card-title">{{service.name}}</h4>
                        <p class="card-text">{{service.excerpt}}</p>
                        <a href="services/{{service.slug}}" class=" btn btn-big btn-yellow"><span>Read more &nbsp;&nbsp; <em
                                class="fa fa-chevron-right"></em></span></a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <br>
</section>

<!-- Owner  -->

<div class="container">
    <div class="row">
        {% for section in owner_section %}
        {% if section.text_align == 'right' %}
        <div class="col">
            <img style="border-radius: 50%; width: 500px; height: 500px; padding: 10px;"
                 src="{{media_url}}/{{section.image}}" alt="" height="350px"
                 width="80%"/>
        </div>
        <div class="col">
            <div class="custom-heading">
                <h3>{{section.title}}</h3>
            </div>
            <p style="padding: 10px 0 10px 0;">{{section.description}}</p>
            {% for sub_section in sub_sections %}
            {% if section.id == sub_section.section_id and sub_section.status == "active" %}
            <div class="icon-container" style="padding: 10px;">
                <em class="fa fa-arrow-right"></em> &nbsp;&nbsp; {{sub_section.content}}
            </div>
            <br>
            {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div class="col">
            <div class="custom-heading">
                <h3>{{section.title}}</h3>
            </div>
            <p style="padding: 10px 0 10px 0;">{{section.description}}</p>
            {% for sub_section in sub_sections %}
            {% if section.id == sub_section.section_id and sub_section.status == "active" %}
            <div class="icon-container" style="padding: 10px;">
                <em class="fa fa-arrow-right"></em> &nbsp;&nbsp; {{sub_section.content}}
            </div>
            <br>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col">
            <img style="border-radius: 50%; width: 500px; height: 500px; padding: 10px;"
                 src="{{media_url}}/{{section.image}}" alt="" height="350px"
                 width="80%"/>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


<!-- Service Offerings -->
<div style="text-align:center;padding:30px">
    <h3>Service Offerings</h3>
    <p>GO ABOVE & BEYOND FOR OUR CUSTOMERS</p>
</div>

<div class="container">

    {% for service_offering in offerings %}
    {% if service_offering.text_align == "left" %}
    <div class="row">
        <div class="col-md-6">
            <div class="row"><img src="{{media_url}}/{{service_offering.image}}" alt="" height="100px" width="100px">
                <div class="col"><h3>{{service_offering.title}}</h3>
                    <p class="col-md-12">{{service_offering.description}}</p></div>
            </div>
            <div class="col"></div>
        </div>
        {% else %}
        <div class="col-md-6">
            <div class="row"><img src="{{media_url}}/{{service_offering.image}}" alt="" height="100px" width="100px">
                <div class="col"><h3>{{service_offering.title}}</h3>
                    <p class="col-md-12">{{service_offering.description}}</p></div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Sections -->

<div class="container" style="padding:30px">
    <div class="row">
        {% for section in other_section %}
        {% if section.text_align == 'right' %}
        <div class="col">
            <img style="float:left"
                 src="{{media_url}}/{{section.image}}" alt="" height="400px" width="530px"/>
        </div>
        <div class="col">
            <div class="custom-heading">
                <h3>{{section.title}}</h3>
            </div>
            <p style="padding: 10px 0 10px 0;">{{section.description}}</p>
            {% for sub_section in sub_sections %}
            {% if section.id == sub_section.section_id and sub_section.status == "active" %}
            <div class="icon-container" style="padding: 10px;">
                <em class="fa fa-arrow-right"></em> &nbsp;&nbsp; {{sub_section.content}}
            </div>
            <br>
            {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div class="col">
            <div class="custom-heading">
                <h3>{{section.title}}</h3>
            </div>
            <p>{{section.description}}</p>
            {% for sub_section in sub_sections %}
            {% if section.id == sub_section.section_id and sub_section.status == "active" %}
            <div class="icon-container" style="padding: 10px;">
                <em class="fa fa-arrow-right"></em> &nbsp;&nbsp; {{sub_section.content}}
            </div>
            <br>

            {% endif %}
            {% endfor %}
        </div>
        <div class="col">
            <img style="float:right" src="{{media_url}}/{{section.image}}" alt="" height="400px" width="530px"/>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}



