{% extends "footer.html" %}
{% block content %}
<style>
    .centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  text-shadow: 2px 2px 2px #23241f;;


</style>
{% load static %}
<link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">

    <div class="container">
        <form action="id" method="get">
            <div class="row">
            <img src="{{media_url}}/{{get_page_id.header_img}}" alt=""
                         height="75%" width="100%">
                <div class="centered"><h2 style="text-transform: uppercase;"><strong>GO ABOVE & BEYOND - {{get_page_id.title}}</strong></h2>
                    <p style="text-align:center;">You are here:  / <a style="color:white;" href="/">Home</a> / <a style="color:white;" href="/{{get_page_id.slug}}">{{get_page_id.title}}</a></p></div>
                </div>
                <div class="row" ><p>{{get_page_id.content|safe}}</p></div>

        </form>
        {% if get_page_id.title == "Contact us" %}
            {% include "add_contact.html" %}
            {% endif %}
    </div>



<script src="{% static 'tinymce/js/prism.js' %}"></script>

{% endblock %}