{% extends "layout.html" %}
{% block content %}
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <form action="id" method="get">
        <div class="page-title-style01 page-title-negative-top pt-bkg"
             style="background-image: url('{{ media_url }}/{{ get_page_id.header_img }}')">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="custom-heading">
                            GO ABOVE & BEYOND - {{ get_page_id.title }}
                        </h1>
                        <div class="breadcrumb-container">
                            <ul class="breadcrumb clearfix">
                                <li>You are here:</li>
                                <li><a href="">Home</a></li>
                                <li><a href="/{{ get_page_id.slug }}">{{ get_page_id.title }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% comment %}<div class="centered"><h2 style="text-transform: uppercase;"><strong>GO ABOVE & BEYOND -
                        {{ get_page_id.title }}</strong></h2>
                        <p style="text-align:center;">You are here: / <a style="color:white;" href="/">Home</a> / <a
                                style="color:white;" href="/{{ get_page_id.slug }}">{{ get_page_id.title }}</a></p>
                    </div>{% endcomment %}

    <div class="page-content">
        <div class="container">
            <div class="row">
                {{ get_page_id.content|safe }}
            </div>
        </div>


        <script src="{% static 'tinymce/js/prism.js' %}"></script>
        {% if get_page_id.slug == "contact-us" %}
            {% include "contactus.html" %}
        {% elif get_page_id.slug == "canada-jetlines-cargo" %}
            {% include "canada_jetline_cargo.html" %}
        {% elif get_page_id.slug == "about-us" %}
            {% include "aboutus.html" %}
        {% endif %}
    </div>
{% endblock %}
