{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/changelists.css' %}">
{% if cl.formset %}
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
{% endif %}
{% if cl.formset or action_form %}
<script src="{% url 'admin:jsi18n' %}"></script>
{% endif %}
{{ media.css }}
{% if not actions_on_top and not actions_on_bottom %}
<style>
      #changelist table thead th:first-child {width: inherit}

</style>
{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script src="{% static 'admin/js/filters.js' %}" defer></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
    &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}{% endblock %}

{% block content %}
{% load static %}
<link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">

<div id="content-main">
<!--    {{test}}-->
    <form method="POST">
        {% csrf_token %}
        {% if form is null %}
        <br>{{form.as_p}}<br>
        {% else %}
        <br>{{form.as_p}}<br>
        {% endif %}

<!--        <div style="margin-bottom: 18px">-->
<!--    <label><span class="required" style="color:red;">*</span> contact_address</label><br>-->
<!--    <input type="text" name="contact_address" required="">-->
<!--    </div>-->
<!--         <div style="margin-bottom: 18px">-->
<!--    <label><span class="required" style="color:red;">*</span> facebook_url</label><br>-->
<!--    <input type="text" name="facebook_url" required="">-->
<!--    </div>-->
<!--         <div style="margin-bottom: 18px">-->
<!--    <label><span class="required" style="color:red;">*</span> facebook_url</label><br>-->
<!--    <input type="text" name="facebook_url" required="">-->
<!--    </div>-->
<!--         <div style="margin-bottom: 18px">-->
<!--    <label><span class="required" style="color:red;">*</span> facebook_url</label><br>-->
<!--    <input type="text" name="facebook_url" required="">-->
<!--    </div>-->
        <button type="submit">TEST</button>

    </form>


</div>
<script src="{% static 'tinymce/js/prism.js' %}"></script>

{% endblock %}
