{% load static %}
<link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">

<div class="page-content parallax parallax01 dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action clearfix">
                    <div class="text">
                        {% for data in settings %}
                            {{ data.common_service_content|safe }}
                        {% endfor %}
                    </div>
                    <a href="/contact-us" class="btn btn-big"><span>get a quote</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>

<div class="page-content">
    <div class="container">

        <div class="custom-heading02" style="margin:20px;">
            <h2>Services we provide</h2>
            <p>THE THING THAT MAKES US DIFFERENT</p>
        </div>
        <div class="row">
            {% for service_offering in offerings %}
                {% if service_offering.0.show_on_about_page == True %}
                    <div class="col-md-3 col-sm-6">
                        <div class="service-icon-center">
                            <div class="icon-container">
                                <img src="{{ media_url }}/{{ service_offering.0.icon }}" alt="checklist icon">
                            </div>
                            <h4>{{ service_offering.0.title }}</h4>
                            <p>{{ service_offering.0.description }}</p>

                        </div>
                    </div>
                {% endif %}
                {% if service_offering.1.show_on_about_page == True %}
                    <div class="col-md-3 col-sm-6">
                        <div class="service-icon-center">
                            <div class="icon-container">
                                <img src="{{ media_url }}/{{ service_offering.1.icon }}" alt="checklist icon">
                            </div>
                            <h4>{{ service_offering.1.title }}</h4>
                            <p>{{ service_offering.1.description }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'tinymce/js/prism.js' %}"></script>




