<style>
    body {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        line-height: 22px;
        color: #777;
        background-color: #fff;
    }

    .custom-heading {
        position: relative;
        width: 100%;
        display: block;
        padding-top: 12px;
        text-transform: uppercase;
        height: 4rem;
        color: black;
    }

    .fare-chart tr:nth-child(odd) {
        color: #ffffff;
        background-color: #0287bf;
    }

    .fare-chart tr:nth-child(even) {
        color: black;
        background-color: #ffffff;

    }

    .fare-chart tr {
        text-align: center;
    }

    table.fare-chart {
        animation: slide-down 1s forwards;
        max-width: 100%;
        width: 100%;
        height: 20rem;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 6px -4px 11px;
        margin-bottom: 15px;
        font-size: 13px
    }

    .mail-to-btn {
        background: #95c03d;
        color: #fff;
        padding: 13px 22px;
        font-size: 17px;
        font-weight: 700;
        border-radius: 24px;
        cursor: pointer;
        border: none;
        display: block;
        width: 125px;
        margin: 20px auto;
    }


</style>
<div class="container">

    {% for page in pages %}
        {% for section in other_sections %}
            {% if page.id == section.page_id %}
                {% if section.text_align == 'right' %}
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center">
                            <div style="text-align: center;">
                                <img class="mx-auto" style="width: 250px; height:250px; margin: 0 auto;"
                                     src="{{ media_url }}{{ section.image }}" alt="{{ section.title }}"/>
                                {% if section.show_mail_us_button %}
                                    <a class="mail-to-btn" href="mailto:info@beyondaviation.ca">Mail Us</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="custom-heading">
                                <h2>{{ section.title }}</h2>
                            </div>
                            <p class="body">{{ section.description }}</p>
                            {% for sub_section in sub_sections %}
                                {% if section.id == sub_section.section_id %}
                                    <ul>
                                        <li class="list"> {{ sub_section.content }}</li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="custom-heading">
                                <h2>{{ section.title }}</h2>
                            </div>
                            <p class="body">{{ section.description }}</p>
                            {% for sub_section in sub_sections %}
                                {% if section.id == sub_section.section_id %}
                                    <ul>
                                        <li class="list"> {{ sub_section.content }}</li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">
                            <div style="text-align: center;">
                                <img class="mx-auto" style="width: 250px; height:250px; margin: 0 auto;"
                                     src="{{ media_url }}{{ section.image }}" alt="{{ section.title }}"/>
                                {% if section.show_mail_us_button %}
                                    <a class="mail-to-btn" href="mailto:info@beyondaviation.ca">Mail Us</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
<div class="container">
    <table class="fare-chart">
        <tr>
            <th scope="col">YYZ</th>
            <th scope="col">Departure</th>
            <th scope="col">Cut-off</th>
            <th scope="col">YYC</th>
            <th scope="col">Arrival</th>
        </tr>
        <tr>
            <td>DAY 4,7</td>
            <td>1015(L)</td>
            <td>0800 (L)</td>
            <td>1230 (L)</td>
            <td>+4 = 15</td>
        </tr>
        <tr>
            <th scope="col">YYZ</th>
            <th scope="col">Departure</th>
            <th scope="col">Cut-off</th>
            <th scope="col">YYC</th>
            <th scope="col">Arrival</th>
        </tr>
        <tr>
            <td>DAY 4,7</td>
            <td>1015(L)</td>
            <td>0800 (L)</td>
            <td>1230 (L)</td>
            <td>+4 = 15</td>
        </tr>
        <tr>
            <th scope="col">YYZ</th>
            <th scope="col">Departure</th>
            <th scope="col">Cut-off</th>
            <th scope="col">YYC</th>
            <th scope="col">Arrival</th>
        </tr>
        <tr>
            <td>DAY 4,7</td>
            <td>1015(L)</td>
            <td>0800 (L)</td>
            <td>1230 (L)</td>
            <td>+4 = 15</td>
        </tr>
    </table>
</div>

