{% extends "layout.html" %}
{% block content %}
    {% load static %}

    <div id="masterslider" class="master-slider ms-skin-default mb-0">
        <div class="ms-slide">
            <img src="{% static 'assets/img/Airline-Cargo-Sales-and-Facilitation.1dada3b3.png' %}"
                 data-src="{% static 'assets/img/Airline-Cargo-Sales-and-Facilitation.1dada3b3.png' %}"
                 alt="Strongest distribution network"/>
            <div class="ms-slide-layers" style="left: 104.5px; max-width: 1140px;">
                <div class="ms-anim-layers" style="opacity: 1; display: none;">
                    <img class="ms-layer"
                         src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAEAEIDAREAAhEBAxEB/8QATQABAQAAAAAAAAAAAAAAAAAAAAcBAQEBAAAAAAAAAAAAAAAAAAAGBxABAAAAAAAAAAAAAAAAAAAAABEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AqbBFmAAAAAAAA//Z"
                         alt=""
                         style="left: 0px; top: 310px; width: 66px; height: 4px; margin: 0px; padding: 0px; display: none;"
                         data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="300">
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 340px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="600">airline
                        cargo</h2>
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 400px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="600">sales
                        and</h2>
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 460px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="600">
                        facilitation</h2>
                </div>
            </div>
        </div>

        <div class="ms-slide">
            <img src="{% static 'assets/img/AIR-CARGO-Perishales.4ec63ee9.png' %}"
                 data-src="{% static 'assets/img/AIR-CARGO-Perishales.4ec63ee9.png' %}"
                 alt="International Air freight"/>
            <div class="ms-slide-layers" style="left: 104.5px; max-width: 1140px;">
                <div class="ms-anim-layers" style="opacity: 1; display: none;"><h2 class="ms-layer pi-caption01"
                                                                                   style="left: 273px; top: 390px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                                                                                   data-type="text"
                                                                                   data-effect="top(short)"
                                                                                   data-duration="300"
                                                                                   data-hide-effect="fade"
                                                                                   data-delay="0">air cargo
                    perishables</h2>
                    <img class="ms-layer"
                         src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAEAEIDAREAAhEBAxEB/8QATQABAQAAAAAAAAAAAAAAAAAAAAcBAQEBAAAAAAAAAAAAAAAAAAAGBxABAAAAAAAAAAAAAAAAAAAAABEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AqbBFmAAAAAAAA//Z"
                         alt=""
                         style="left: 540px; top: 450px; width: 66px; height: 4px; margin: 0px; padding: 0px; display: none;"
                         data-type="image" data-effect="bottom(short)" data-duration="300" data-hide-effect="fade"
                         data-delay="300"></div>
            </div>
        </div>

        <div class="ms-slide">
            <img src="{% static 'assets/img/End-to-end-Truck-Provisioning--Maintenance.00627373.png' %}"
                 data-src="{% static 'assets/img/End-to-end-Truck-Provisioning--Maintenance.00627373.png' %}"
                 alt="Worldwide freight services"/>
            <div class="ms-slide-layers" style="left: 104.5px; max-width: 1140px;">
                <div class="ms-anim-layers" style="opacity: 1; display: none;">
                    <img class="ms-layer"
                         src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAEAEIDAREAAhEBAxEB/8QATQABAQAAAAAAAAAAAAAAAAAAAAcBAQEBAAAAAAAAAAAAAAAAAAAGBxABAAAAAAAAAAAAAAAAAAAAABEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AqbBFmAAAAAAAA//Z"
                         alt=""
                         style="left: 0px; top: 310px; width: 66px; height: 4px; margin: 0px; padding: 0px; display: none;"
                         data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="300">
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 340px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="600">End to
                        end Truck</h2>
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 400px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="900">
                        Provisioning &amp;</h2>
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 460px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="1200">
                        Maintenance</h2>
                </div>
            </div>
        </div>

        <div class="ms-slide">
            <img src="{% static 'assets/img/fleet-parking-and-yard-management.png' %}"
                 data-src="{% static 'assets/img/fleet-parking-and-yard-management.png' %}"
                 alt="Worldwide freight services"/>
            <div class="ms-slide-layers" style="left: 104.5px; max-width: 1140px;">
                <div class="ms-anim-layers" style="">
                    <img class="ms-layer"
                         src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAEAEIDAREAAhEBAxEB/8QATQABAQAAAAAAAAAAAAAAAAAAAAcBAQEBAAAAAAAAAAAAAAAAAAAGBxABAAAAAAAAAAAAAAAAAAAAABEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AqbBFmAAAAAAAA//Z"
                         alt="" style="left: 0px; top: 310px; width: 66px; height: 4px; margin: 0px; padding: 0px;"
                         data-type="text" data-effect="left(short)" data-duration="300" data-hide-effect="fade"
                         data-delay="300">
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 340px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px;"
                        data-type="text" data-effect="left(short)" data-duration="300" data-hide-effect="fade"
                        data-delay="600">Fleet Parking &amp;</h2>
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 400px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px;"
                        data-type="text" data-effect="left(short)" data-duration="300" data-hide-effect="fade"
                        data-delay="900">Yard-Management</h2>
                </div>
            </div>
        </div>

        <div class="ms-slide">

            <img src="{% static 'assets/img/Specialized-Cargo-Handling-and-Charters.47322c53.png' %}"
                 data-src="{% static 'assets/img/Specialized-Cargo-Handling-and-Charters.47322c53.png' %}"
                 alt="Worldwide freight services"/>
            <div class="ms-slide-layers" style="left: 104.5px; max-width: 1140px;">
                <div class="ms-anim-layers" style="opacity: 1; display: none;">
                    <img class="ms-layer"
                         src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAEAEIDAREAAhEBAxEB/8QATQABAQAAAAAAAAAAAAAAAAAAAAcBAQEBAAAAAAAAAAAAAAAAAAAGBxABAAAAAAAAAAAAAAAAAAAAABEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AqbBFmAAAAAAAA//Z"
                         alt=""
                         style="left: 0px; top: 310px; width: 66px; height: 4px; margin: 0px; padding: 0px; display: none;"
                         data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="300">
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 340px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="600">
                        Specialized Cargo</h2>
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 400px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="900">Handling
                        and</h2>
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 460px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-effect="left(short)" data-duration="300" data-hide-effect="fade" data-delay="1200">
                        Charters</h2>
                </div>
            </div>
        </div>

        <div class="ms-slide">

            <img src="{% static 'assets/img/Trucking--Logistics.0d0624ec.png' %}"
                 data-src="{% static 'assets/img/Trucking--Logistics.0d0624ec.png  ' %}"
                 alt="Worldwide freight services"/>
            <div class="ms-slide-layers" style="left: 104.5px; max-width: 1140px;">
                <div class="ms-anim-layers" style="opacity: 1; display: none;">
                    <h2 class="ms-layer pi-caption01"
                        style="left: 273px; top: 390px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-type="text" data-effect="top(short)" data-duration="300" data-hide-effect="fade"
                        data-delay="0">Trucking &amp; Logistics</h2>
                    <img class="ms-layer"
                         src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAEAEIDAREAAhEBAxEB/8QATQABAQAAAAAAAAAAAAAAAAAAAAcBAQEBAAAAAAAAAAAAAAAAAAAGBxABAAAAAAAAAAAAAAAAAAAAABEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AqbBFmAAAAAAAA//Z"
                         alt=""
                         style="left: 540px; top: 450px; width: 66px; height: 4px; margin: 0px; padding: 0px; display: none;"
                         data-type="image" data-effect="bottom(short)" data-duration="300" data-hide-effect="fade"
                         data-delay="300"></div>
            </div>
        </div>

        <div class="ms-slide">

            <img src="{% static 'assets/img/Warehousing-(Dry-Goods--Specialized-Cargo).029918d7.png' %}"
                 data-src="{% static 'assets/img/Warehousing-(Dry-Goods--Specialized-Cargo).029918d7.png' %}"
                 alt="Worldwide freight services"/>
            <div class="ms-slide-layers" style="left: 104.5px; max-width: 1140px;">
                <div class="ms-anim-layers" style="opacity: 1; display: none;">
                    <img class="ms-layer"
                         src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAEAEIDAREAAhEBAxEB/8QATQABAQAAAAAAAAAAAAAAAAAAAAcBAQEBAAAAAAAAAAAAAAAAAAAGBxABAAAAAAAAAAAAAAAAAAAAABEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AqbBFmAAAAAAAA//Z"
                         alt=""
                         style="left: 0px; top: 310px; width: 66px; height: 4px; margin: 0px; padding: 0px; display: none;">
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 340px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-type="text" data-effect="left(short)" data-duration="300" data-hide-effect="fade"
                        data-delay="300">Warehousing</h2>
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 400px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-type="text" data-effect="left(short)" data-duration="300" data-hide-effect="fade"
                        data-delay="600">(Dry Goods &amp;</h2>
                    <h2 class="ms-layer pi-caption01"
                        style="left: 0px; top: 460px; margin: 0px 0px 25px; padding: 0px; font-size: 55px; line-height: 26px; display: none;"
                        data-type="text" data-effect="left(short)" data-duration="300" data-hide-effect="fade"
                        data-delay="900">Specialized Cargo)</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Services  -->
    <div class="page-content parallax parallax01 mb-70">
        <div class="container">
            <div class="row services-negative-top">

                {% for service in services %}
                    {% if service.is_featured is True %}
                        <div class="col-md-4 col-sm-4">

                            <div class="service-feature-box">

                                <div class="service-media"><img src="{{ media_url }}/{{ service.image }}"
                                                                alt="{{ service.name }}"></div>
                                <div class="service-body">
                                    <div class="custom-heading">
                                        <h4>{{ service.name }}</h4>
                                    </div>
                                    <p class="cnt-ab">{{ service.excerpt }}</p>
                                    <p class="btnbox"><a href="/services/{{ service.slug }}"
                                                         class="read-more02 btn btn-big btn-yellow"><span>Read more &nbsp;&nbsp; <em
                                            class="fa fa-chevron-right"></em></span></a></p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Owner  -->
    <div class="page-content custom-bkg bkg-dark-alice column-img-bkg dark abut-sect">
        <div class="container-fluid">

            <div class="row">
                {% for section in owner_section %}
                    {% if section.text_align == 'right' %}
                        <div class="col-md-6 col-sm-6 custom-col-padding-both1"
                             style="background-color: {{ section.background_color }};">
                            <img class="droji-image" src="{{ media_url }}/{{ section.image }}" alt="icon"></div>
                        <div class="col-md-6  col-sm-6 custom-col-padding-both"
                             style="background-color: {{ section.background_color }};">
                            <div class="custom-heading">
                                <h3 style="color:{{ section.text_color }};">{{ section.title }}</h3>
                            </div>
                            <p style="color:{{ section.text_color }};">{{ section.description }}</p>
                            {% for sub_section in sub_sections %}
                                {% if section.id == sub_section.section_id and sub_section.status == "active" %}
                                    <ul class="service-list clearfix">
                                        <li>
                                            <div class="icon-container" style="color:{{ section.text_color }};"><em
                                                    class="fa fa-arrow-right"></em></div>
                                            <p style="color:{{ section.text_color }};">{{ sub_section.content }}</p>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>

                    {% else %}


                        <div class="col-md-6  col-sm-6 custom-col-padding-both"
                             style="background-color: {{ section.background_color }};">
                            <div class="custom-heading">
                                <h3 style="color:{{ section.text_color }};">{{ section.title }}</h3>
                            </div>
                            <p style="color:{{ section.text_color }};">{{ section.description }}</p>
                            {% for sub_section in sub_sections %}
                                {% if section.id == sub_section.section_id and sub_section.status == "active" %}
                                    <ul class="service-list clearfix">
                                        <li>
                                            <div class="icon-container"><em class="fa fa-arrow-right"></em></div>
                                            <p style="color:{{ section.text_color }};">{{ sub_section.content }}</p>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-6 col-sm-6 custom-col-padding-both1"
                             style="background-color: {{ section.background_color }};">
                            <img class="droji-image" src="{{ media_url }}/{{ section.image }}" alt="icon"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Service Offerings -->
    <div class="page-content services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-heading02">
                        <h2>Service Offerings</h2>
                        <p>Go Above &amp; Beyond For Our Customers</p>
                    </div>
                </div>
            </div>
            {% for service_offering in offerings %}
                <div class="row mb-30">
                    <div class="col-md-6 col-sm-6">
                        <div class="service-icon-left-boxed">
                            <div class="icon-container animated triggerAnimation zoomIn" data-animate="zoomIn"
                                 style="opacity: 1;">
                                <img src="{{ media_url }}/{{ service_offering.0.icon }}" alt="checklist icon">
                            </div>
                            <div class="service-details"><h3>{{ service_offering.0.title }}</h3>
                                <p>{{ service_offering.0.description }}</p></div>
                        </div>
                    </div>

                    {% if service_offering.1 %}
                        <div class="col-md-6 col-sm-6">
                            <div class="service-icon-left-boxed">
                                <div class="icon-container animated triggerAnimation zoomIn" data-animate="zoomIn"
                                     style="opacity: 1;">
                                    <img src="{{ media_url }}/{{ service_offering.1.icon }}" alt="checklist icon">
                                </div>
                                <div class="service-details"><h3>{{ service_offering.1.title }}</h3>
                                    <p>{{ service_offering.1.description }}</p></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Sections   -->
    {% for section in other_sections %}
        {% if section.page_id == null %}
            {% if section.text_align == 'left' %}
                <div class="page-content custom-bkg bkg-dark-blue column-img-bkg dark">

                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-6 col-md-offset  custom-col-padding-both"
                                 style="background-color: {{ section.background_color }};">

                                <div class="custom-heading">
                                    <h3 style="color:{{ section.text_color }};">{{ section.title }}</h3>
                                </div>
                                <p style="color:{{ section.text_color }};">{{ section.description }}</p>
                                <ul class="service-list clearfix">
                                    {% for sub_section in sub_sections %}
                                        {% if section.id == sub_section.section_id and sub_section.status == "active" %}
                                            {% if sub_section.icon %}
                                                <li>
                                                    <div style="padding: 10px;" class="icon-container">
                                                        <img style="float:left;"
                                                             src="{{ media_url }}/{{ sub_section.icon }}" alt=""
                                                             height="10px" width="50px"/> &nbsp;&nbsp;
                                                    </div>
                                                    <p style="color:{{ section.text_color }};">{{ sub_section.content }}</p>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <div class="icon-container" style="padding: 10px;">
                                                        <em class="fa fa-arrow-right"
                                                            style="color:{{ section.text_color }}; important!"></em>
                                                        &nbsp;&nbsp;
                                                    </div>
                                                    <p style="color:{{ section.text_color }};">{{ sub_section.content }}</p>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-6 img-bkg01"
                                 style="height: 630px; background-image: url('{{ media_url }}/{{ section.image }}');">
                                <div>&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}

                <div class="page-content custom-bkg bkg-dark-alice column-img-bkg dark">
                    <div class="container-fluid">
                        <div class="row" style="background-color: {{ section.background_color }}; ">
                            <div class="col-md-6 img-bkg04"
                                 style="height: 630px; background-image: url('{{ media_url }}/{{ section.image }}');">
                                <div>&nbsp;</div>
                            </div>
                            <div class="col-md-6   custom-col-padding-both">
                                <div class="custom-heading">
                                    <h3 style="color:{{ section.text_color }};">{{ section.title }}</h3>
                                </div>
                                <p>{{ section.description }}</p>
                                <ul class="service-list clearfix">
                                    {% for sub_section in sub_sections %}
                                        {% if section.id == sub_section.section_id and sub_section.status == "active" %}
                                            {% if sub_section.image %}
                                                <li>
                                                    <div style="padding: 10px;" class="icon-container">
                                                        <img style="float:left"
                                                             src="{{ media_url }}/{{ sub_section.icon }}" alt=""
                                                             height="10px" width="50px"/> &nbsp;&nbsp;
                                                    </div>
                                                    <p style="color:{{ section.text_color }}; important!">{{ sub_section.content }}</p>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <div class="icon-container">
                                                        <em class="fa fa-arrow-right"
                                                            style="color:{{ section.text_color }};"></em>
                                                    </div>
                                                    <p style="color:{{ section.text_color }}; important!">{{ sub_section.content }}</p>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

{% endblock %}
